@model Helpdesk_System.Models.Entities.Category

<h1 class="mb-4">Dodaj kategorię</h1>

<div class="card p-4 shadow-sm">
    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Nazwa kategorii</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Zapisz</button>
        <a asp-action="Index" class="btn btn-secondary">Powrót</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}